@page "/learnBlazor/demoproduct"
@rendermode InteractiveServer

<h3>DemoProduct</h3>
<p>Favorite Count : @FavoriteCount</p>
<p>Selected Product : @SelectedProduct</p>

<div class="row">
    @foreach (var prod in ProductList)
    {
        <_IndividualProductComponent Prod="prod" OnFavoriteUpdated="FavoriteCountChange" OnButtonClick="() => DeleteProduct(prod.Id)" OnSelectedProductChange="UpdateSelectedProduct"></_IndividualProductComponent>
    }
</div>

@code {
    public int FavoriteCount { get; set; } = 0;
    public string SelectedProduct { get; set; } = string.Empty;
    List<Product> ProductList = new();

    protected override void OnInitialized()
    {
        ProductList.Add(new()
        {
            Id = 2,
            Name = "iPad 15",
            Price = 13000,
            IsActive = false,
            Product_Properties = new List<Product_Prop>()
            {
                new Product_Prop { Id = 1, Color = "Yellow" },
                new Product_Prop { Id = 2, Color = "Blue" },
                new Product_Prop { Id = 3, Color = "White" }
            }
        });

        ProductList.Add(new()
        {
            Id = 3,
            Name = "MacBook Pro",
            Price = 22000,
            IsActive = true,
            Product_Properties = new List<Product_Prop>()
            {
                new Product_Prop { Id = 1, Color = "Orange" },
                new Product_Prop { Id = 2, Color = "Blue" },
                new Product_Prop { Id = 3, Color = "White" }
            }
        });
    }

    protected void FavoriteCountChange(bool isSelected)
    {
        if (isSelected)
        {
            FavoriteCount++;
        }
        else
        {
            FavoriteCount--;
        }
    }

    protected void DeleteProduct(int prodId)
    {
        var prod = ProductList.FirstOrDefault(u => u.Id == prodId);
        if (prod != null)
        {
            ProductList.Remove(prod);
        }
    }

    protected void UpdateSelectedProduct(string productName)
    {
        SelectedProduct = productName;
    }
} 